h1 {
    color: red;
    text-align: center;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    font-size: medium;
    text-align: center;
    padding: 3px;
}
th {
    background-color: lightslategrey;
    
}
#top{
    font-size: 20px;
    color: lime;
}
#buttom{
    text-align: justify;
    color: magenta;
}
#middle{
    color: blueviolet;
}
.name{
    font-weight: bold;
    color: black;
}